.card {
    background: bisque;
    color: brown;
    font-size: 2rem;
}

.card h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color : brown;
    text-decoration: solid 1px black;
}

.card p {
    font-family: 'Times New Roman', Times, serif;
    color : black;
}