.card {
    background: rgb(118, 128, 74);
    color: rgb(27, 172, 165);
    font-size: 3rem;
}

.card h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    color : brown;
    text-decoration: solid 1px black;
}

/* .card p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
} */

.description .para {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(84, 153, 77);
}

.header1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 3rem;
}


.title {
    color: orange;
}